:root {
  --ifm-color-primary: #138cd3;
  --ifm-color-primary-dark: #117ebe;
  --ifm-color-primary-darker: #1077b3;
  --ifm-color-primary-darkest: #0c5a87;
  --ifm-color-primary-light: #159ae8;
  --ifm-color-primary-lighter: #1e9feb;
  --ifm-color-primary-lightest: #3dacee;
}

.container {
  max-width: 100%; /* Allow content to take full width on smaller screens */
  margin: 0 auto;
  padding: 1rem; 
  box-sizing: border-box;
}

.footer__logo {
  max-width: 5rem; /* Increase the maximum logo size */
  max-height: 5rem;
}

main details {
  margin: 1rem 0; /* Increase top and bottom margin */
  padding: 1rem; /* Increase padding */
  border: 0.15rem solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
}

main details summary {
  margin-bottom: 0.5rem; /* Reduce bottom margin */
  text-decoration: underline;
  cursor: pointer; /* Make it look clickable */

  /* Remove user-select to make it look like a link */
  user-select: none;
}

main details summary:hover {
  text-decoration: none; /* Hide underline on hover */
}

main details:hover {
  border-color: var(--ifm-pagination-nav-color-hover);
}

.homePageBtns {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack buttons vertically on small screens */
  gap: 20px; /* Add spacing between buttons */
}

@media (min-width: 480px) {
  .homePageBtns {
    flex-direction: row; /* Arrange buttons side by side on larger screens */
    justify-content: space-between; /* Distribute space between buttons */
  }
}

header {
  text-align: center;
}

.SupportLink {
  text-align: center;
}

.text--center h1 {
  text-align: center;
}

/* Center-align user showcase */
.row {
  justify-content: center;
}

.col-2 {
  margin: 0.5rem;
  flex-grow: 1;
}

.button--outline.button--primary {
  margin-top: 1rem;
}
