@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.navbar__inner {
  max-width: 1400px;
  margin: 0 auto;
}

.footer__logo {
  max-width: 4rem;
  max-height: 4rem;
}
