:root {
  --ifm-color-primary: #138cd3;
  --ifm-color-primary-dark: #117ebe;
  --ifm-color-primary-darker: #1077b3;
  --ifm-color-primary-darkest: #0c5a87;
  --ifm-color-primary-light: #159ae8;
  --ifm-color-primary-lighter: #1e9feb;
  --ifm-color-primary-lightest: #3dacee;
}

.navbar__inner {
  max-width: 1400px;
  margin: 0 auto;
}

.footer__logo {
  max-width: 4rem;
  max-height: 4rem;
}

main details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main details summary {
  margin-bottom: 1rem;
}

.homePageBtns {
  display: grid;
  gap: 20px;
}
@media (min-width: 480px) {
  .homePageBtns {
    grid-template-columns: 1fr 1fr;
  }
}
